# 1. Introduction à Python

<img align="center" src="https://preview.redd.it/44aw5j979ve61.png?auto=webp&s=a0285d3a6e42e88b15bd738bc483412bb3efb019"/>

## 1.1 Types de données élémentaires

La librairie standard de Python fournit plusieurs types de données élémentaires tel que des entiers (int), des booléens (bool), des nombres à virgule flottante (float) ou des chaines de caractères (string). Une synthèse de ces types est présentée ci-dessous :


| &nbsp;  |      Data Type    |   Example   | 
|:--------|:-----------------:|:------------|
|Number   | Integer           | x = 4       |
| &nbsp;  | Long integer      | x = 15L     | 
| &nbsp;  | Floating point    | x = 3.142   | 
| &nbsp;  | Boolean           | x = True    |
|Text     | Character         | x = 'c'     |
| &nbsp;  | String            | x = "this" or x = 'this' |

In [29]:
x = 4              # integer
print(x, type(x))

y = True           # boolean (True, False)
print(y, type(y))

z = 3.7            # floating point
print(z, type(z))

s = f"This is a {x} string"    # string
print(s, type(s))

4 <class 'int'>
True <class 'bool'>
3.7 <class 'float'>
This is a 4 string <class 'str'>

La cellule suivante présente quelques opérations basiques sur les entiers et les nombes à virgule flottante :

In [3]:
x = 4            # integer
x1 = x + 4       # addition 
x2 = x * 3       # multiplication
x += 2           # equivalent to x = x + 2
x3 = x       
x *= 3           # equivalent to x = x * 3
x4 = x      
x5 = x % 4       # modulo (remainder) operator

z = 3.7          # floating point number
z1 = z - 2       # subtraction
z2 = z / 3       # division
z3 = z // 3      # integer division
z4 = z ** 2      # square of z 
z5 = z4 ** 0.5   # square root
z6 = pow(z,2)    # equivalent to square of z
z7 = round(z)    # rounding z to its nearest integer 
z8 = int(z)      # type casting float to int

print(x,x1,x2,x3,x4,x5)
print(z,z1,z2,z3,z4)
print(z5,z6,z7,z8)

18 8 12 6 18 2
3.7 1.7000000000000002 1.2333333333333334 1.0 13.690000000000001
3.7 13.690000000000001 4 3

In [37]:
int(x)

5

In [33]:
x = 7
round(x / 2), x // 2

(4, 3)

La cellule suivante présente certaines fonctions fournit par le module `math` de Python sur des entiers et des nombres à virgule flottante :

In [17]:
import math

x = 4
print(math.sqrt(x))      # sqrt(4) = 2
print(math.pow(x,2))     # 4**2 = 16
print(math.exp(x))       # exp(4) = 54.6
print(math.log(x,2))     # log based 2  (default is natural logarithm)
print(math.fabs(-4))     # absolute value
print(math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

z = 0.2
print(math.ceil(z))      # ceiling function
print(math.floor(z))     # floor function
print(math.trunc(z))     # truncate function

z = 3*math.pi            # math.pi = 3.141592653589793 
print(math.sin(z))       # sine function
print(math.tanh(z))      # arctan function

x = math.nan             # not a number
print(math.isnan(x))

x = math.inf             # infinity
print(math.isinf(x))

2.0
16.0
54.598150033144236
2.0
4.0
24
1
0
0
3.6739403974420594e-16
0.9999999869751758
True
True

La cellule suivante présente certains opérations et fonctions de manipulation de **chaines de caractères** :

In [51]:
t = "Ceci est une chaine"
t[2::2]

'c s n hie'

In [40]:
s1 = "This"

print(s1[1:])                    # print last three characters 
print(len(s1))                               # get the string length
print("Length of string is " + str(len(s1))) # type casting int to str
print(s1.upper())                            # convert to upper case
print(s1.lower())                            # convert to lower case

s2 = "This is a string"
words = s2.split(' ')             # split the string into words
print(words[0])
print(s2.replace('a','another'))  # replace "a" with "another"
print(s2.replace('is','at'))      # replace "is" with "at"
print(s2.find("a"))               # find the position of "a" in s2
print(s1 in s2)                   # check if s1 is a substring of s2

print(s1 == 'This')               # equality comparison
print(s1 < 'That')                # inequality comparison
print(s2 + " too")                # string concatenation
print((s1 + " ")* 3)              # replicate the string 3 times

his
4
Length of string is 4
THIS
this
This
This is another string
That at a string
8
True
True
False
This is a string too
This This This

In [57]:
print(
    "ceci est un entier : {}, ceci est une chaine : {}".format(x, s1)
)
"ceci est un entier : {mon_entier}, ceci est une chaine : {ma_chaine}".format(mon_entier=x, ma_chaine=s1)

ceci est un entier : 7, ceci est une chaine : This

'ceci est un entier : 7, ceci est une chaine : This'

## 1.2 Types de données composés

Les exemples suivants montrent comment créer et manipuler une **liste** d'objets :

In [58]:
intlist = [1, 3, 5, 7, 9]
print(type(intlist))
print(intlist)
intlist2 = list(range(0,10,2))   # range[startvalue, endvalue, stepsize]
print(intlist2)

print(intlist[2])                # get the third element of the list
print(intlist[:2])               # get the first two elements
print(intlist[2:])               # get the last three elements of the list
print(len(intlist))              # get the number of elements in the list
print(sum(intlist))              # sums up elements of the list

intlist.append(11)               # insert 11 to end of the list
print(intlist)
print(intlist.pop())             # remove last element of the list
print(intlist)
print(intlist + [11,13,15])      # concatenate two lists
print(intlist * 3)               # replicate the list
intlist.insert(2,4)              # insert item 4 at index 2  
print(intlist)
intlist.sort(reverse=True)       # sort elements in descending order
print(intlist)

<class 'list'>
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]
5
[1, 3]
[5, 7, 9]
5
25
[1, 3, 5, 7, 9, 11]
11
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]
[1, 3, 4, 5, 7, 9]
[9, 7, 5, 4, 3, 1]

In [59]:
intlist

[9, 7, 5, 4, 3, 1]

In [60]:
mylist = ['this', 'is', 'a', 'list']
print(mylist)
print(type(mylist))

print("list" in mylist)          # check whether "list" is in mylist
print(mylist[2])                 # show the 3rd element of the list
print(mylist[:2])                # show the first two elements of the list
print(mylist[2:])                # show the last two elements of the list
mylist.append("too")             # insert element to end of the list

separator = " "
print(separator.join(mylist))    # merge all elements of the list into a string

mylist.remove("is")              # remove element from list
print(mylist)

['this', 'is', 'a', 'list']
<class 'list'>
True
a
['this', 'is']
['a', 'list']
this is a list too
['this', 'a', 'list', 'too']

In [62]:
mylist[2][2]

's'

La cellule suivante présente comment créer et manipuler un **dictionnaire** :

In [66]:
abbrev = {}
abbrev['MI'] = "Michigan"
abbrev['MN'] = "Minnesota"
abbrev['TX'] = "Texas"
abbrev['CA'] = "California"

print(abbrev)
print(abbrev.keys())            # get the keys of the dictionary
print(type(abbrev.keys()))
print(abbrev.values())          # get the values of the dictionary
print(len(abbrev))              # get number of key-value pairs

print(abbrev.get('MI'))
print(abbrev['MI'])
print("FL" in abbrev)
print("CA" in abbrev)

keys = ['apples', 'oranges', 'bananas', 'cherries']
values = [3, 4, 2, 10]
print(list(zip(keys, values)))
fruits = dict(zip(keys, values))
print(fruits)
print(sorted(fruits))     # sort keys of dictionary

from operator import itemgetter
print(sorted(fruits.items(), key=itemgetter(0)))    # sort by key of dictionary
print(sorted(fruits.items(), key=itemgetter(1)))    # sort by value of dictionary

{'MI': 'Michigan', 'MN': 'Minnesota', 'TX': 'Texas', 'CA': 'California'}
dict_keys(['MI', 'MN', 'TX', 'CA'])
<class 'dict_keys'>
dict_values(['Michigan', 'Minnesota', 'Texas', 'California'])
4
Michigan
Michigan
False
True
[('apples', 3), ('oranges', 4), ('bananas', 2), ('cherries', 10)]
{'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
['apples', 'bananas', 'cherries', 'oranges']
[('apples', 3), ('bananas', 2), ('cherries', 10), ('oranges', 4)]
[('bananas', 2), ('apples', 3), ('oranges', 4), ('cherries', 10)]

In [81]:
list(abbrev.keys())[0]
tuple1 = (42, 35, mylist)
tuple1[2][1] = 'ok'
tuple1

(42, 35, ['this', 'ok', 'list', 'too'])

## 1.3 Structure de contrôle

Comme les autres langages, Python inclus les instructions `if`, `for` et `while`:

In [ ]:
# using if-else statement

x = 10

if x % 2 == 0:
    print("x =", x, "is even")
else:
    print("x =", x, "is odd")

if x > 0:
    print("x =", x, "is positive")
elif x < 0:
    print("x =", x, "is negative")
else:
    print("x =", x, "is neither positive nor negative")

In [ ]:
# using for loop with a list

mylist = ['this', 'is', 'a', 'list']
for word in mylist:
    print(word.replace("is", "at"))

# number of characters in each word
mylist2 = []
for word in mylist:
    mylist2.append(len(word))
print(mylist2)
mylist2 = [len(word) for word in mylist]   # same with list comprehension syntax
print(mylist2)

# using for loop with list of tuples

states = [
    ('MI', 'Michigan', 'Lansing'),
    ('CA', 'California', 'Sacramento'),
    ('TX', 'Texas', 'Austin')
]

sorted_capitals = [state[2] for state in states]
sorted_capitals.sort()
print(sorted_capitals)

# using for loop with dictionary

fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [k for (k,v) in fruits.items()]
print(fruitnames)

In [90]:
print(fruits)
for f in fruits:
    print(f, fruits[f])
print("")
for (k, v) in fruits.items():
    print(k, v)
print("")
for truc in fruits.items():
    print(truc, truc[0])

{'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
apples 3
oranges 4
bananas 2
cherries 10

apples 3
oranges 4
bananas 2
cherries 10

('apples', 3) apples
('oranges', 4) oranges
('bananas', 2) bananas
('cherries', 10) cherries

In [91]:
# using while loop

mylist = list(range(-10,10))
print(mylist)

i = 0
while (mylist[i] < 0):
    i = i + 1
    
print("First non-negative number:", mylist[i])

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
First non-negative number: 0

In [97]:
%%time
[m for m in mylist if m >= 0][0]

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 7.39 µs

0

## 1.4 Fonctions

Les fonctions en Python peuvent être nommées ou non. Les fonctions non nommées sont créées en utilisant le mot clef `lambda`.

In [103]:
myfunc = lambda x, y=42: 3*x**2 - 2*x + 3      # example of an unnamed quadratic function

print(myfunc(2))

11

In [105]:
import math

# The following function will discard missing values from a list
def discard(inlist, sortFlag=False):    # default value for sortFlag is False 
    outlist = []
    for item in inlist:
        if not math.isnan(item):
            outlist.append(item)
    outlist = [item for item in inlist if not math.isnan(item)]    # equivalent with list comprehension
    if sortFlag:
        outlist.sort()
    return outlist

mylist = [12, '', 23, -11, 45, math.nan, 71]

print(discard(mylist,True))

TypeError: must be real number, not str

In [99]:
print(discard(sortFlag=True, inlist=mylist))

[-11, 12, 23, 45, 71]

## 1.5 Lecture écriture de fichier


L'écriture et la lecture de fichier en Python se fait comme suit :

In [110]:
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]

with open('states.txt', 'w') as f:
    f.write('\n'.join('%s,%s,%s' % state for state in states))

states_read = []
with open('states.txt', 'r') as f:
    for line in f:
        fields = line.strip().split(sep=',')    # split each line into its respective fields
        print('State=',fields[1],'(',fields[0],')','Capital:', fields[2])
        states_read.append((fields[0], fields[1], fields[2]))
states_read

State= Michigan ( MI ) Capital: Lansing
State= California ( CA ) Capital: Sacramento
State= Texas ( TX ) Capital: Austin
State= Minnesota ( MN ) Capital: St Paul

[('MI', 'Michigan', 'Lansing'),
 ('CA', 'California', 'Sacramento'),
 ('TX', 'Texas', 'Austin'),
 ('MN', 'Minnesota', 'St Paul')]

In [115]:
!head 'CO2_Emissions_Canada.csv'

## 1.6 Excercices

I. Lisez le fichier `CO2 Emissions_Canada.csv`, stockez les données dans une liste et répondez aux questions suivantes :
* Combien de ligne le fichier contient-il ?
* Quel est le CO2 maximum émis par km par un véhicule ? (et quel est ce véhicule ?)
* Combien de CO2 les véhicules émettent en moyenne ?

Attention :
* Il est nécessaire de transformer les types des données lues en entier avec l'instruction `int(variable)`
* La première ligne du CSV contient l'en-tête des colonnes, pensez à l'enlever de la liste avant analyse

II. La cellule suivante contient une liste d'objets (oiseaux, tables ... peu importe quoi) à différents lieux. Répondez aux questions suivantes :
* Combien y a-t'il de lieux ?
* Combien y a-t'il d'objets sur 7ème lieu ? et sur le dernier lieu ?
* Combien y a-t'il d'objets au total ?
* Quel est le nombre moyen d'objets par lieu ?
* Combien y a-t'il d'objets pour les lieux commencant par la lettre C ?

In [2]:
data = [
    ['A1', 28], ['A2', 32], ['A3', 1], ['A4', 0],
    ['A5', 10], ['A6', 22], ['A7', 30], ['A8', 19],
    ['B1', 145], ['B2', 27], ['B3', 36], ['B4', 25],
    ['B5', 9], ['B6', 38], ['B7', 21], ['B8', 12],
    ['C1', 122], ['C2', 87], ['C3', 36], ['C4', 3],
    ['D1', 0], ['D2', 5], ['D3', 55], ['D4', 62],
    ['D5', 98], ['D6', 32]
]

In [3]:
len(data)

26

In [5]:
data[6][1]

30

In [7]:
data[-1][1]

32

In [10]:
acc = 0
for e in data:
    acc += e[1]
acc

955

In [12]:
sum([e[1] for e in data])

955

In [13]:
sum([e[1] for e in data]) / len(data)

36.73076923076923

In [16]:
e_C = []
for e in data:
    #if e[0][0] == 'C':
    if e[0].find('C') > -1:
        e_C.append(e)
e_C

[['C1', 122], ['C2', 87], ['C3', 36], ['C4', 3]]

In [15]:
sum([e[1] for e in e_C])

248

In [25]:
sum([e[1] for e in data if e[0].find('C') > -1])

248

In [28]:
[e for e in data if e[1] >= 100]

[['B1', 145], ['C1', 122]]